.body {
  margin: 0;
  font-family: sans-serif;
}

.siteLogo {
  width: 250px;
  height: 50px;
}

.appPage {
  display: flex;
  flex-direction: row;
}

.productForm {
  display: flex;
  flex-direction: column;
}

.todoListContent {
  margin: 0px 20px;
}

.dashboard {
  padding: 20px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.formContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.detailsContainer {
  width: 50%;
}

.detailsForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.employeeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
}

.employeeListContainer {
  width: 50%;
  padding: 10px;
}

.formBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputField {
  padding: 10px;
}
